table.weekli {
  background-color: #222220;
  width: 100%;
  table-layout: fixed;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.weekli .wk-cell {
  background-color: #FF6138;
}
table.weekli .wk-cell.available {
  background-color: #79BD8F;
}
table.weekli.weekli_editable .wk-cell:hover {
  cursor: pointer;
}
@media only screen and (max-width: 599px) {
  table.weekli_desktop {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 649px), only screen and (min-width: 650px) and (max-width: 849px), only screen and (min-width: 850px) {
  table.weekli_desktop {
    display: table;
  }
  table.weekli_desktop .wk-day-abbrv {
    display: none;
  }
  table.weekli_desktop .wk-day-long {
    display: inline-block;
  }
}
@media only screen and (min-width: 650px) and (max-width: 849px) {
  table.weekli_desktop .wk-day {
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 600px) and (max-width: 649px) {
  table.weekli_desktop .wk-day-abbrv {
    display: inline-block;
  }
  table.weekli_desktop .wk-day-long {
    display: none;
  }
}
table.weekli_desktop th.wk-day,
table.weekli_desktop td.wk-time {
  background-color: #f9f9f9;
  padding: 10px;
}
table.weekli_desktop.weekli_editable:hover {
  cursor: pointer;
}
@media only screen and (max-width: 599px) {
  table.weekli_mobile {
    display: table;
  }
}
@media only screen and (min-width: 600px) and (max-width: 649px), only screen and (min-width: 650px) and (max-width: 849px), only screen and (min-width: 850px) {
  table.weekli_mobile {
    display: none;
  }
}
table.weekli_mobile th.wk-day,
table.weekli_mobile td.wk-time {
  background-color: #f9f9f9;
  padding: 10px;
}
table.weekli_mobile th.wk-day {
  background-color: #383838;
  color: white;
  text-align: right;
}
table.weekli_mobile.weekli_editable th.wk-day:hover {
  cursor: pointer;
}
body {
  background-color: #f9f9f9;
  font-family: Arial;
  font-weight: 500;
  font-style: normal;
}
h1 {
  color: #FF6138;
  font-weight: 800;
  text-align: center;
  margin-top: 5em;
}
h1:hover span {
  color: #32323a;
}
.container {
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: Arial;
}
.font-face {
  font-family: Arial;
  font-weight: 500;
  font-style: normal;
}
.bold-font {
  font-weight: 800;
}
