/////////////////////////////
// IMPORTS
/////////////////////////////
@import "fonts.css";
@import "weekli.less";



/////////////////////////////
// VARIABLES
/////////////////////////////
@light-color: #79BD8F;
@dark-accent: #1E6B37;
@dark-color: #3D303A;
@white: #FFFFFF;


/////////////////////////////
// ELEMENTS
/////////////////////////////

// Main Elements
body{
  background-color: @white;
  .font-arial;
  margin: 0;
}

h1 {
  .font-kanit;
}

.big-block{
  padding: 90px 0;
  width: 100%;
}

// Header
header.block-light{
  background-color: @light-color;

  .wk-logo {
    background-image: url('../assets/logo.svg');
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    margin: 0 auto;
  }
}


// Nav
.nav-bar{

  background-color: @dark-color;


  ul{
    margin: 0 auto;
    max-width: 950px;
    display: flex;
    list-style:none;
    padding: 1em;

    li{
      display:block;
      float:left;
      margin: 0 25px;
      color: white;
      max-width: 100px;
      line-height: 30px;
    }

    li.nav-logo{
      background-image: url('../assets/logo-nav-bar.svg');
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      position: relative;
      left: 10px;
    }

  }

}

// Weekli's
.container{
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/////////////////////////////
// FONTS
/////////////////////////////
.font-arial {
  font-family: Arial;
  font-weight: 500;
  font-style: normal;
}

.bold-font{
  font-weight: 800;
}

.font-kanit {
  font-family: 'Kanit', sans-serif;
}

/////////////////////////////
// CUSTOM WEEKLI
/////////////////////////////
.wk-custom{
  @wk-header-color:         @dark-color;
  @wk-header-color-hover:   #4f224c;
  @wk-unavailable-color:    @light-color;
  @wk-available-color:      @dark-color;
  @wk-mobile-header-color:  #383838;
  @wk-border-color:         #222220;
  @wk-header-font-color:    white;
  @wk-mobile-header-font-color: #FFFFFF;

  table.weekli{
    .wk-cell {
      background-color: @wk-unavailable-color;
    }

    .wk-cell.available{
      background-color: @wk-available-color;
    }
  }

  table.weekli_desktop {
    .wk-header{
      background-color: @wk-header-color;
      color: @wk-header-font-color;
      padding: 10px;
    }

    .wk-header:hover{
      background-color: @wk-header-color-hover;
    }

  }


}
