/////////////////////////////
// IMPORTS
/////////////////////////////
@import "fonts.css";
@import "weekli.less";



/////////////////////////////
// VARIABLES
/////////////////////////////
@light-purple: #B86CAC;
@dark-purple: #6e2c6b;
@white: #FFFFFF;

/////////////////////////////
// ELEMENTS
/////////////////////////////
body{
  background-color: @white;
  .font-arial;
}

h1 {
  .font-kanit;
  text-align: center;

  margin-top: 5em;

}

.container{
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/////////////////////////////
// FONTS
/////////////////////////////

.font-arial {
  font-family: Arial;
  font-weight: 500;
  font-style: normal;
}

.bold-font{
  font-weight: 800;
}

.font-kanit {
  font-family: 'Kanit', sans-serif;
}

/////////////////////////////
// CUSTOM WEEKLI
/////////////////////////////
.wk-custom{
  @wk-header-color:         @dark-purple;
  @wk-header-color-hover:   #4f224c;
  @wk-unavailable-color:    @light-purple;
  @wk-available-color:      @dark-purple;
  @wk-mobile-header-color:  #383838;
  @wk-border-color:         #222220;
  @wk-header-font-color:    white;
  @wk-mobile-header-font-color: #FFFFFF;

  table.weekli{
    .wk-cell {
      background-color: @wk-unavailable-color;
    }

    .wk-cell.available{
      background-color: @wk-available-color;
    }
  }

  table.weekli_desktop {
    .wk-header{
      background-color: @wk-header-color;
      color: @wk-header-font-color;
      padding: 10px;
    }

    .wk-header:hover{
      background-color: @wk-header-color-hover;
    }

  }


}
