@import "fonts.css";
table.weekli {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.weekli .wk-cell {
  background-color: #f26d5b;
}
table.weekli .wk-cell.available {
  background-color: #79BD8F;
}
table.weekli .wk-time-span {
  white-space: nowrap;
}
table.weekli .wk-ampm {
  display: none;
}
table.weekli tr {
  height: 3em;
}
table.weekli.weekli_editable .wk-cell:hover {
  cursor: pointer;
}
table.weekli_desktop.weekli_editable:hover {
  cursor: pointer;
}
@media only screen and (max-width: 599px) {
  table.weekli_desktop {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 674px), only screen and (min-width: 675px) and (max-width: 884px), only screen and (min-width: 885px) {
  table.weekli_desktop {
    display: table;
  }
}
@media only screen and (min-width: 675px) and (max-width: 884px), only screen and (min-width: 885px) {
  table.weekli_desktop .wk-day-abbrv {
    display: none;
  }
  table.weekli_desktop .wk-day-long {
    display: inline-block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 674px) {
  table.weekli_desktop .wk-day-abbrv {
    display: inline-block;
  }
  table.weekli_desktop .wk-day-long {
    display: none;
  }
  table.weekli_desktop .wk-day {
    font-size: 1em;
  }
  table.weekli_desktop td.wk-time {
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 675px) and (max-width: 884px) {
  table.weekli_desktop .wk-day {
    font-size: 0.75em;
  }
  table.weekli_desktop td.wk-time {
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 885px) {
  table.weekli_desktop .wk-day {
    font-size: 1em;
  }
  table.weekli_desktop td.wk-time {
    font-size: 1em;
  }
}
table.weekli_desktop .wk-header {
  background-color: #f9f9f9;
  color: #222220;
  padding: 10px;
}
table.weekli_desktop .wk-header:hover {
  background-color: #e7e7e7;
}
table.weekli_desktop .wk-empty {
  border: 0 !important;
  cursor: default;
}
@media only screen and (max-width: 599px) {
  table.weekli_mobile {
    display: table;
  }
}
@media only screen and (min-width: 600px) and (max-width: 674px), only screen and (min-width: 675px) and (max-width: 884px), only screen and (min-width: 885px) {
  table.weekli_mobile {
    display: none;
  }
}
table.weekli_mobile .wk-header {
  background-color: #f9f9f9;
  padding: 10px;
}
table.weekli_mobile th.wk-header {
  background-color: #383838;
  color: #FFFFFF;
  text-align: right;
}
table.weekli_mobile td.wk-time {
  font-size: 1em;
}
table.weekli_mobile th.wk-day {
  font-size: 1em;
}
table.weekli_mobile.weekli_editable th.wk-day:hover {
  cursor: pointer;
}
body {
  background-color: #FFFFFF;
  font-family: Arial;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}
h1 {
  font-family: 'Kanit', sans-serif;
}
.big-block {
  padding: 90px 0;
  width: 100%;
}
.block-light {
  background-color: #79BD8F;
}
.block-light .wk-logo {
  background-image: url('../assets/logo.svg');
  background-repeat: no-repeat;
  width: 170px;
  height: 170px;
  margin: 0 auto;
}
.nav-bar {
  background-color: #3D303A;
}
.nav-bar ul {
  margin: 0 auto;
  max-width: 950px;
  display: flex;
  list-style: none;
  padding: 1em;
}
.nav-bar ul li {
  display: block;
  float: left;
  margin: 0 25px;
  color: white;
  max-width: 100px;
  line-height: 30px;
}
.nav-bar ul .nav-logo {
  background-image: url('../assets/logo-nav-bar.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.container {
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.font-arial {
  font-family: Arial;
  font-weight: 500;
  font-style: normal;
}
.bold-font {
  font-weight: 800;
}
.font-kanit {
  font-family: 'Kanit', sans-serif;
}
.wk-custom table.weekli .wk-cell {
  background-color: #79BD8F;
}
.wk-custom table.weekli .wk-cell.available {
  background-color: #3D303A;
}
.wk-custom table.weekli_desktop .wk-header {
  background-color: #3D303A;
  color: white;
  padding: 10px;
}
.wk-custom table.weekli_desktop .wk-header:hover {
  background-color: #4f224c;
}
