table.weekli {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.weekli .wk-cell {
  background-color: #FF6138;
}
table.weekli .wk-cell.available {
  background-color: #79BD8F;
}
table.weekli .wk-time-span {
  white-space: nowrap;
}
table.weekli .wk-ampm {
  display: none;
}
table.weekli tr {
  height: 3em;
}
table.weekli.weekli_editable .wk-cell:hover {
  cursor: pointer;
}
table.weekli_desktop.weekli_editable:hover {
  cursor: pointer;
}
@media only screen and (max-width: 599px) {
  table.weekli_desktop {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 674px), only screen and (min-width: 675px) and (max-width: 884px), only screen and (min-width: 885px) {
  table.weekli_desktop {
    display: table;
  }
}
@media only screen and (min-width: 675px) and (max-width: 884px), only screen and (min-width: 885px) {
  table.weekli_desktop .wk-day-abbrv {
    display: none;
  }
  table.weekli_desktop .wk-day-long {
    display: inline-block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 674px) {
  table.weekli_desktop .wk-day-abbrv {
    display: inline-block;
  }
  table.weekli_desktop .wk-day-long {
    display: none;
  }
  table.weekli_desktop .wk-day {
    font-size: 1em;
  }
  table.weekli_desktop td.wk-time {
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 675px) and (max-width: 884px) {
  table.weekli_desktop .wk-day {
    font-size: 0.75em;
  }
  table.weekli_desktop td.wk-time {
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 885px) {
  table.weekli_desktop .wk-day {
    font-size: 1em;
  }
  table.weekli_desktop td.wk-time {
    font-size: 1em;
  }
}
table.weekli_desktop .wk-header {
  background-color: #f9f9f9;
  color: #222220;
  padding: 10px;
}
table.weekli_desktop .wk-header:hover {
  background-color: #e7e7e7;
}
table.weekli_desktop .wk-empty {
  border: 0 !important;
  cursor: default;
}
@media only screen and (max-width: 599px) {
  table.weekli_mobile {
    display: table;
  }
}
@media only screen and (min-width: 600px) and (max-width: 674px), only screen and (min-width: 675px) and (max-width: 884px), only screen and (min-width: 885px) {
  table.weekli_mobile {
    display: none;
  }
}
table.weekli_mobile .wk-header {
  background-color: #f9f9f9;
  padding: 10px;
}
table.weekli_mobile th.wk-header {
  background-color: #383838;
  color: #FFFFFF;
  text-align: right;
}
table.weekli_mobile td.wk-time {
  font-size: 1em;
}
table.weekli_mobile th.wk-day {
  font-size: 1em;
}
table.weekli_mobile.weekli_editable th.wk-day:hover {
  cursor: pointer;
}
