table.weekli {
  background-color: #222220;
  width: 100%;
  table-layout: fixed;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.weekli:hover {
  cursor: pointer;
}
table.weekli td {
  background-color: #FF6138;
}
table.weekli .wk-cell.available {
  background-color: #79BD8F;
}
@media (max-width: 529px) {
  table.weekli_desktop {
    display: none;
  }
}
@media (min-width: 530px) and (max-width: 649px), (min-width: 650px) and (max-width: 849px), (min-width: 850px) {
  table.weekli_desktop {
    display: table;
  }
  table.weekli_desktop .wk-day-abbrv {
    display: none;
  }
  table.weekli_desktop .wk-day-long {
    display: inline-block;
  }
}
@media (min-width: 650px) and (max-width: 849px) {
  table.weekli_desktop .wk-day {
    font-size: 0.75em;
  }
}
@media (min-width: 530px) and (max-width: 649px) {
  table.weekli_desktop .wk-day-abbrv {
    display: inline-block;
  }
  table.weekli_desktop .wk-day-long {
    display: none;
  }
}
table.weekli_desktop th.wk-day,
table.weekli_desktop td.wk-time {
  background-color: #f9f9f9;
  padding: 10px;
}
@media (max-width: 529px) {
  table.weekli_mobile {
    display: table;
  }
}
@media (min-width: 530px) and (max-width: 649px), (min-width: 650px) and (max-width: 849px), (min-width: 850px) {
  table.weekli_mobile {
    display: none;
  }
}
table.weekli_mobile th.wk-day,
table.weekli_mobile td.wk-time {
  background-color: #f9f9f9;
  padding: 10px;
}
table.weekli_mobile th.wk-day {
  background-color: grey;
  color: white;
  text-align: right;
}
