// COLORS
@dark-grey: #222220;
@light-grey: #f9f9eb;
@red-color: #FF6138;
@light-green: #BEEB9F;
@mid-green: #79BD8F;
@dark-green: #00A388;

table.weekli{
  background-color: @dark-grey;
  width: 100%;
  table-layout: fixed;
  text-align: left;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  th{
    background-color: @light-grey;
    padding: 10px;
  }

  td{
    background-color: @red-color;

  }

  td.time-column{
    background-color: @light-grey;
    padding: 10px;

  }
}

.wk-hour{
  &:hover {
    cursor: pointer;
  }

}

table.weekli .available{
  background-color: @mid-green;
}
