// COLORS
@background-color: #222220;
@cell-color: #f9f9f9;
@unavailable-color: #FF6138;
@available-color: #79BD8F;
@mobile-header-color: #383838;


// BREAKPOINTS
// Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
@mobile:      ~"(max-width: 529px)";
@tablet:      ~"(min-width: 530px) and (max-width: 649px)";
@desktop:     ~"(min-width: 650px) and (max-width: 849px)";
@desktop-xl:  ~"(min-width: 850px)";
table.weekli{
  background-color: @background-color;
  width: 100%;
  table-layout: fixed;
  text-align: left;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  .wk-cell{
    background-color: @unavailable-color;
  }

  .wk-cell:hover{
    cursor: pointer;
  }

  .wk-cell.available{
    background-color: @available-color;
  }

}



table.weekli_desktop{

  @media @mobile {
    display: none;
  }

  @media @tablet, @desktop, @desktop-xl{
    display: table;
    .wk-day-abbrv{
      display: none;
    }
    .wk-day-long{
      display: inline-block;
    }
  }

  @media @desktop{
    .wk-day{
      font-size: 0.75em;
    }
  }

  @media @tablet{
    .wk-day-abbrv{
      display: inline-block;
    }
    .wk-day-long{
      display: none;
    }
  }

  &:hover{
    cursor: pointer;
  }

  th.wk-day, td.wk-time{
    background-color: @cell-color;
    padding: 10px;
  }

}

table.weekli_mobile{
  
  @media @mobile {
    display: table;
  }

  @media @tablet, @desktop, @desktop-xl{
    display: none;
  }

  th.wk-day:hover{
    cursor: pointer;
  }

  th.wk-day, td.wk-time {
    background-color: @cell-color;
    padding: 10px;
  }

  th.wk-day{
    background-color: @mobile-header-color;
    color: white;
    text-align: right;
  }

}

